.App-help {
  overflow: hidden;
  padding: 3%;
  text-align: center;
}

.help-left-sec {
  width: 45%;
  float: left;
}

.help-right-sec {
  width: 45%;
  float: right;
  border-radius: 60px;
  box-shadow: 15px 15px 50px rgba(50, 200, 150, 0.5);
  opacity: 0.7;
}
.help-right-sec:hover {
  opacity: 1;
}

.help-left-h1 {
  color: #3d5c5c;
  font-size: 25px;
}

.help-left-image {
  width: 384px;
  height: 384px;
  margin: 1px auto;
}

.help-textarea {
  border-radius: 20px;
  font-family: inherit;
  resize: vertical;
}
