.App-PageNotFound {
  text-align: center;
}

/* .PageNotFoundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  justify-content: center;
  vertical-align: center;
  z-index: 2;
} */
